@font-face {
  font-family: "Omnes";
  src: local("Omnes Regular"), url("../fonts/omnes-regular-webfont.woff") format("woff"); }
body {
  font-family: "Omnes"; }

section#package {
  width: 100%;
  max-height: 100%;
  margin-top: 35px; }
  section#package p {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700; }
  section#package ul#package_photos {
    list-style: none;
    width: 100%;
    margin-top: 0px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  section#package ul {
    /*Places*/
    /*End places*/ }
    section#package ul .item {
      width: 320px;
      height: 290px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 20px;
      background-color: #f1803c;
      margin: 10px;
      border: solid 1px #fff;
      border-radius: 5px; }
    section#package ul li {
      /*photo caption*/
      /*end of photo caption*/ }
      section#package ul li span {
        color: #ffffff;
        text-shadow: 1px 0px 1px #000; }
      section#package ul li .country {
        text-transform: uppercase;
        margin-top: 67%; }
      section#package ul li .price {
        font-size: 25px !important; }
      section#package ul li .country, section#package ul li .description {
        width: 60%; }
      section#package ul li .price, section#package ul li .price_caption {
        width: 30%;
        text-align: right; }
      section#package ul li .price, section#package ul li .description {
        font-size: 22px;
        margin-bottom: 15px;
        font-weight: 600; }
    section#package ul li.rio_de_janeiro, section#package ul li.sao_paulo, section#package ul li.salvador, section#package ul li.porto_de_galinhas, section#package ul li.praia_do_forte, section#package ul li.gramado, section#package ul li.estados_unidos, section#package ul li.orlando, section#package ul li.inglaterra, section#package ul li.paris, section#package ul li.argentina, section#package ul li.indonesia {
      background-position: center;
      background-size: cover; }
    section#package ul li.rio_de_janeiro {
      background-image: url("../img/rio_de_janeiro.svg");
      background-position: 45% 40%; }
    section#package ul li.sao_paulo {
      background-image: url("../img/sao_paulo.svg"); }
    section#package ul li.salvador {
      background-image: url("../img/salvador.svg"); }
    section#package ul li.porto_de_galinhas {
      background-image: url("../img/porto_de_galinhas.svg"); }
    section#package ul li.praia_do_forte {
      background-image: url("../img/praia_do_forte.svg"); }
    section#package ul li.gramado {
      background-image: url("../img/gramado.svg"); }
    section#package ul li.estados_unidos {
      background-image: url("../img/estados_unidos.svg");
      background-position: 70% 50%; }
    section#package ul li.orlando {
      background-image: url("../img/estados_unidos_orlando.svg"); }
    section#package ul li.inglaterra {
      background-image: url("../img/inglaterra.svg"); }
    section#package ul li.paris {
      background-image: url("../img/paris.svg"); }
    section#package ul li.argentina {
      background-image: url("../img/argentina.svg"); }
    section#package ul li.indonesia {
      background-image: url("../img/indonesia.svg"); }

@media screen and (max-width: 600px) {
  section#package p {
    text-align: center;
    font-size: 18px; }
  section#package ul#package_photos {
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; }
  section#package ul li.item {
    min-width: 260px;
    min-height: 230px; }
  section#package ul #first {
    margin-left: 1625px;
    /*MUDAR ISSO DEPOIS*/ }
  section#package ul li span.country {
    text-transform: uppercase;
    margin-top: 83%; }
  section#package ul li span.price, section#package ul li span.description {
    font-size: 20px; }
  section#package ul li span.price {
    font-size: 21px; }

  ::-webkit-scrollbar {
    width: 0px;
    overflow-x: scroll;
    display: none; } }
@media screen and (min-width: 1495px) {
  section#package {
    width: 1200px;
    margin: 0 auto; }

  p {
    margin-left: 38px !important; } }

/*# sourceMappingURL=style.css.map */
