@media screen and (max-width: 600px){
	
	section#package {
		p {
			text-align: center;
			font-size: 18px;
		}

		ul#package_photos {
			width: 100%;
			-ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
		}

		ul {
			li.item {
				min-width: 260px;
				min-height: 230px;
			}

			#first {
				margin-left: 1625px; /*MUDAR ISSO DEPOIS*/
			}

			li span.country {
				text-transform: uppercase;
				margin-top: 83%;
			}

			li span.price, li span.description {
				font-size: 19px;
			}

			li span.price {
				font-size: 21px !important;
			}
		}
	}

	::-webkit-scrollbar {
    	width: 0px;
    	overflow-x: scroll;
 	  	display: none;
	}
}

@media  screen and (min-width: 1495px){
	section#package {
		width: 1200px;
		margin: 0 auto;
	}

	p {
		margin-left: 38px !important;
	}
}